<%= form_for resource, url: url do |f| %>
  <% if resource.errors.any? %>
    <% resource.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>

  <% resource.fields.each do |field| %>
    <% if field.formable? %>
      <div>
        <%= f.label field.key, field.label %>
        <%= f.send(field.input, field.key) %>
      </div>
    <% end %>
  <% end %>

  <%= f.submit %>
<% end %>
