<div class="container">
  <div class="row">
    <div class="col">
      <h1><%= resource.name.pluralize %></h1>
    </div>
  </div>
  <div class="row">
    <%= content_tag :div, class: @scopes.any? ? 'col-3' : 'd-none' do %>
      <%= render 'scopes', scopes: @scopes %>
    <% end %>
    <%= content_tag :div, class: @scopes.any? ? 'col-9' : 'col-12' do %>
      <%= render 'madmin/resources/index/content', headers: @headers, resources: @resources %>
    <% end %>
  </div>
</div>
