<h1><%= @resource.name %> <%= @resource.id %></h1>

<% madmin_resource.show_fields.each do |field| %>
  <%= render "#{field.to_partial_path}/show", field: field, resource: @resource %>
<% end %>

<div class="mt-4">
  <%= link_to 'Edit', edit_resource_path(id: @resource.id), class: "btn btn-primary" %>
  <%= link_to 'Delete', resource_path(id: @resource.id), method: :delete, class: "btn btn-danger" %>
</div>
