<h1><%= @resource.name %> <%= @resource.id %></h1>

<% @resource.fields.each do |field| %>
  <% if field.readable? %>
    <%= render "#{field.to_partial_path}/show", field: field %>
  <% end %>
<% end %>

<div class="mt-4">
  <%= link_to 'Edit', edit_resource_path(id: @resource.id), class: "btn btn-primary" %>
  <%= link_to 'Delete', resource_path(id: @resource.id), method: :delete, class: "btn btn-danger" %>
</div>
