<!DOCTYPE html>
<html>
<head>
  <title>Madmin</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "madmin/application", media: "all" %>
  <%= javascript_include_tag "madmin/application" %>
</head>
<body>
  <%= render 'application/navigation' %>
  <%= yield %>
</body>
</html>
