<div class="form-group">
  <%= form.label "#{field.key}".to_sym %>
  <%= form.select polymorphic_type(field).to_sym, polymorphic_models(field.key).map { |m| [m.name, m.name, { "data-slug" => madmin_resource_for(model: m).slug }] }, { include_blank: true }, id: polymorphic_type(field), class: "form-control" %>
  <% if polymorphic_relationship_exists?(form: form, field: field) %>
     <%= form.select polymorphic_id(field).to_sym, polymorphic_options_for_selected_type(form: form, field: field), {}, id: polymorphic_id(field), class: "form-control" %>
  <% else %>
     <%= form.select polymorphic_id(field).to_sym, [], {}, id: polymorphic_id(field), class: "d-none form-control" %>
  <% end %>
</div>

<script>
  window.polymorphicFields = window.polymorphicFields || [];
  window.polymorphicFields.push('<%= field.key %>')
</script>
