<div class="form-group">
  <%= form.label field.key %>
  <%=
    form.select field.polymorphic_type_param,
                polymorphic_models(field.key).map { |m| [m.name, m.name, { "data-slug" => madmin_resource_for(model: m).slug }] },
                { include_blank: true },
                id: field.polymorphic_type_param,
                class: "form-control"
  %>
  <% if field.polymorphic_relationship_exists?(form.object) %>
    <%=
      form.select field.polymorphic_id_param,
                  polymorphic_options_for_selected_type(form: form, field: field),
                  {},
                  id: field.polymorphic_id_param,
                  class: "form-control"
    %>
  <% else %>
    <%=
      form.select field.polymorphic_id_param,
                  [],
                  {},
                  id: field.polymorphic_id_param,
                  class: "d-none form-control"
    %>
  <% end %>
</div>

<script>
  window.polymorphicFields = window.polymorphicFields || [];
  window.polymorphicFields.push('<%= field.key %>')
</script>
